.content {
  width: @container-width - 200px;
  margin: 0 auto;
}

.sec {

  &-pic {
    float: right;
  }

  &-title {
    width: 100%;
    clear: both;
    margin: 121px 0 60px;
    .font(46px, Bold, @heading-main-font-color);
    text-transform: capitalize;
    text-align: center;

    &2 {
      width: @sec-title2-width;
      .font(40px, Bold, @heading-other-font-color);
      text-transform: uppercase;
      text-align: left;
    }

    &3 {
      .font(29px, Bold, @heading-other-font-color);
      text-transform: capitalize;
    }

    &4 {
      .font(22px, Bold, @heading-other-font-color);
      text-transform: none;
    }
  }

  &-text {
    width: @sec-text-width;
    .font(16px, Regular, @text-font-color);
    text-transform: none;
  }

  &-button_margin {
    margin: 11px 0 75px;
  }
}

.button-content {
  display: inline-block;
  padding: 20px 35px;
  .font(16px, Bold, @button-font-color);
  text-transform: uppercase;
  text-decoration: none;
  background-color: lighten(@bgc-button, 2.5%);
  border: @header-border;
  .cross-browser(border-radius, 3px);

  &:hover {
    border-color: lighten(@bgc-button, 10%);
    .cross-browser(box-shadow, 0px 10px 34px 6px @button-shadow-color);
  }

  &:active {
    color: @border-color;
    background: none;
    border-color: lighten(@text-font-color, 75%);
    .cross-browser(box-shadow, none);
  }
}

#featured {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  clear: right;
}

.feat {

  &-title_display {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, .5);
  }

  &-button_display {
    display: none;
    color: @featured-button-font-color;
    background-color: @bgc-featured-button;
    border-color: darken(@bgc-featured-button, 15%);

    &:hover {
      border-color: darken(@bgc-featured-button, 30%);
      .cross-browser(box-shadow, 0px 10px 34px 6px @featured-button-shadow-color);
    }

    &:active {
      color: lighten(@featured-button-font-color, 75%);
      .cross-browser(box-shadow, none);
    }
  }

  &-collection {

    &_big {
      width: @feat-big-width;
      height: @feat-big-height;
      margin-bottom: @feat-block-margin;
      background-color: @bgc-featured;

      &:nth-child(2) {
        background: @bgc-featured url(../pictures/feat_collection_acoustic-min.png) no-repeat center 0/cover;
      }

      &:nth-child(5) {
        margin-top: @feat-small-height - @feat-big-height;
        margin-bottom: 0;
        background: @bgc-featured url(../pictures/feat_collection_digital-min.png) no-repeat center -50px/cover;
      }

      &:hover {
        justify-content: flex-start;
        align-items: flex-start;
        width: @feat-big-width - 62px;
        height: @feat-big-height - 182px;
        padding: 162px 0 20px 62px;

        .feat-title_display {
          display: block;
          padding: 0;
          background: none;
        }

        .feat-button_display {
          display: inline-block;
        }

        &:nth-child(2) {
          background-position: (@feat-big-width / 2) 25px;
        }

        &:nth-child(5) {
          background-position: (@feat-big-width / 2) -25px;
        }
      }
    }

    &_small {
      width: @feat-small-width;
      height: @feat-small-height;
      margin-bottom: @feat-block-margin;
      background-color: @bgc-featured;

      &:nth-child(3) {
        background: @bgc-featured url(../pictures/feat_collection_synthesizer.png) no-repeat center 0/contain;
      }

      &:nth-child(4) {
        margin-bottom: 0;
        background: @bgc-featured url(../pictures/feat_collection_midi-keyboard-min.png) no-repeat center 100px/contain;
      }

      &:hover {
        justify-content: flex-start;
        align-items: flex-start;
        width: @feat-small-width - 62px;
        height: @feat-small-height - 131px;
        padding: 111px 0 20px 62px;

        .feat-title_display {
          display: block;
          padding: 0;
          background: none;
        }

        .feat-button_display {
          display: inline-block;
        }

        &:nth-child(3) {
          background-position: (@feat-small-width / 2) 25px;
        }

        &:nth-child(4) {
          background-position: (@feat-small-width / 2) 125px;
        }
      }
    }
  }
}

#popular {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.popul {

  &-prod {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: @popul-prod-width;
    height: @popul-prod-height;
    padding: 96px 0 0 30px;
    background-color: orange;

    .sec-title4 {
      width: @popul-prod-width / 2;
    }

    &-content_display {
      display: none;
    }

    &__price {
      width: @popul-prod-width / 2;
      margin-right: @popul-prod-width / 2;
      .font(22px, Regular, @popul-prod-price-font-color);
    }

    &__like,
    &__buy {
      padding: 8px 20px;
      font-size: 16px;
      color: @popul-prod-likebuy-color;
      border: 1px solid @popul-prod-likebuy-color;
      background-color: @bgc-popul-prod;

      &:hover {
        background-color: darken(@bgc-popul-prod, 2.5%);
      }

      &:active {
        background-color: darken(@popul-prod-likebuy-color, 10%);
      }
    }

    &__like {
      .cross-browser(border-top-left-radius, 3px);
      .cross-browser(border-bottom-left-radius, 3px);
    }

    &__buy {
      .cross-browser(border-top-right-radius, 3px);
      .cross-browser(border-bottom-right-radius, 3px);
    }

    &-button_position {
      margin: 41px auto 0;
    }

    &:nth-child(2) {
      background: @bgc-popul-prod url(../pictures/popular-product1-min.png) no-repeat center 40px/contain;
    }

    &:nth-child(3) {
      background: @bgc-popul-prod url(../pictures/popular-product2-min.png) no-repeat center 0/contain;
    }

    &:nth-child(4) {
      background: @bgc-popul-prod url(../pictures/popular-product3-min.png) no-repeat center 0/contain;
    }

    &:nth-child(5) {
      background: @bgc-popul-prod url(../pictures/popular-product4-min.png) no-repeat center 35px/contain;
    }

    &:hover {
      .cross-browser(box-shadow, 0px 10px 16px 0px @popul-prod-shadow-color);
      background-color: @bgc-popul-prod;

      .popul-prod-content_display {
        display: inline-block;
      }

      &:nth-child(2) {
        background-position: (@popul-prod-width - 80px) 65px;
      }

      &:nth-child(3) {
        background-position: (@popul-prod-width - 80px) 25px;
      }

      &:nth-child(4) {
        background-position: (@popul-prod-width - 80px) 25px;
      }

      &:nth-child(5) {
        background-position: (@popul-prod-width - 80px) 60px;
      }
    }
  }
}

#player {
  margin: 124px 207px 0;
  background-color: gray;
}

#blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  clear: right;
}

.blog-post {
  width: @blog-post-width;
  min-height: @blog-post-height;
  padding: 0 50px 0 30px;
  .cross-browser(border-radius, @blog-post-border-radius);

  &:nth-child(2) {
    background: @bgc-blog-post url(../pictures/blog-post1-min.jpg) no-repeat center 0/cover;
  }

  &:nth-child(3) {
    background: @bgc-blog-post url(../pictures/your_story.jpg) no-repeat center 0/cover;
  }

  &_text-width {
    width: @blog-post-width - 20px;
  }

  &_font-style {
    padding: 10px;
    color: @blog-post-font-color;
    background-color: @bgc-blog-post-text;
    .cross-browser(border-radius, 5px);
  }

  &-header {

    &__type {
      display: inline-block;
      margin-top: 40px;
      .font(16px, Regular, @blog-post-font-color);
    }
  }

  &-footer {
    margin: 15px 0;

    &__time,
    &__comments {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      .font(~"16px/1", Regular, @blog-post-font-color);
      text-transform: lowercase;
      margin: 0 17px 15px;

      & i {
        font-size: 20px;
      }
    }

    &__button {
      border: 1px solid @blog-post-font-color;
      background: none;

      &:hover {
        border-color: darken(@blog-post-font-color, 40%);
        .cross-browser(box-shadow, 0px 10px 34px 6px @blog-post-button-shadow-color);
      }

      &:active {
        color: darken(@blog-post-font-color, 70%);
        background-color: rgba(242, 242, 242, .75);
      }
    }
  }
}

.blog-button_position {
  margin: 41px auto 0;
}