@import "variables.less";
@import "mixins.less";
@import "fonts.less";
@import "container.less";
@import "main-header.less";

.content {
  width: @container-width - 200px;
  margin: 0 auto;
}

.sec-title {
  width: 100%;
  .main-font(Bold, 46px, rgb(0, 0, 0));
  text-transform: capitalize;
  text-align: center;
  clear: both;
  margin: 121px 0 60px;
  
  &2 {
    width: 100%;
    .main-font(Bold, 40px, rgb(45, 45, 45));
    text-align: left;
  }
  
  &3 {
    .main-font(Bold, 29px, rgb(33, 33, 33));
    text-transform: capitalize;
  }
  
  &4 {
    .main-font(Bold, 22px, rgb(33, 33, 33));
    text-transform: none;
  }
}

.sec-text {
  .main-font(Regular, 16px, rgb(33, 33, 33));
  text-transform: none;
}

.service__info {
  width: 100%;
  
  img {
    float: right;
  }
}

.button-content {
  display: inline-block;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: lighten(@border-color, 2.5%);
  border: @header-border;
  .cross-browser(border-radius, 3px);
  .cross-browser(box-shadow, 0px 10px 34px 6px rgba(73, 51, 242, 0.22));
  .main-font(Bold, 16px, rgb(255, 255, 255));
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 35px;
  margin: 11px 0 68px;
}

#featured {
  clear:both;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.featured_big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 431px;
  background-color: rgb(242, 242, 242);
  margin-bottom: 6px;
}

.featured_big:hover {
  justify-content: flex-start;
  align-items: flex-start;
  
  .sec-title3 {
    margin: 162px 0 20px 62px;
  }
  
  .collection {
    display: block;
    margin-left: 62px;
  }
}

.featured_big:last-child {
  margin-top: -93px;
}

.featured_small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 338px;
  background-color: rgb(242, 242, 242);
  margin-bottom: 6px;
}

.featured_small:hover {
  justify-content: flex-start;
  align-items: flex-start;
  
  .sec-title3 {
    margin: 111px 0 20px 62px;
  }
  
  .collection {
    display: block;
    margin-left: 62px;
  }
}

.collection {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  padding: 20px 30px;
  display: none;
}

#popular {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.popular__product {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 255px;
  height: 211px;
  padding: 96px 0 0 30px;
  background-color: orange;
  
  .sec-title4 {
    display: none;
  }
}

.popular__product:hover {
  .cross-browser(box-shadow, 0px 10px 16px 0px rgba(0, 0, 0, 0.1));
  background-color: rgb(255, 255, 255);
  
  .sec-title4,
  .product__price,
  .like,
  .shop {
    display: inline-block;
  }
}

.product__price {
  display: none;
  width: 100%;
  .main-font(Regular, 22px, rgba(33, 33, 33, .8));
}

.like,
.shop {
  display: none;
  padding: 8px 20px;
  border: 1px solid rgba(0, 0, 0, .6);
  cursor: pointer;
  font-size: 16px;
  color: rgba(0, 0, 0, .6);
  background-color: rgb(255, 255, 255);
}

.like {
  .cross-browser(border-top-left-radius, 3px);
  .cross-browser(border-bottom-left-radius, 3px);
}

.shop {
  .cross-browser(border-top-right-radius, 3px);
  .cross-browser(border-bottom-right-radius, 3px);
}

.button_center {
  margin: 41px auto 0;
}

#video {
  width: 100%;
  height: 423px;
  background-color: gray;
  margin-top: 124px;
}

.about__info {
  
  img {
    float: right;
  }
  
  button {
    margin-bottom: 122px;
  }
}

#blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.blog__post {
  width: 480px;
  height: 512px;
  padding: 0 60px 0 40px;
  background-color: orange;
}

.post-type {
  display: inline-block;
  .main-font(Regular, 16px, rgb(255, 255, 255));
  text-transform: none;
  margin-top: 40px;
}
.post__footer {
  margin-top: 25px;
}
.time,
.comments {
  display: inline-block;
  .main-font(Regular, 16px, rgb(255, 255, 255));
  text-transform: lowercase;
  margin: 0 27px 25px;
}
.button_post {
  display: block;
  border: 1px solid rgb(255, 255, 255);
  background: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 121px;
  padding: 47px 60px 0 254px;
  background-color: rgb(242, 242, 242);
  
  .sec-title4 {
    text-transform: capitalize;
    margin-top: 0;
  }
  
  &__col1,
  &__col2,
  &__col3 {
    width: 300px;
//    height: 261px;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
    margin-bottom: 60px;
  }
  
  &__col2,
  &__col3 {
    margin-top: 66px;
  }
  
  .nav {
    ul {
      padding-left: 0;
      
      li {
        list-style-type: none;
        
        a {
          .main-font(Regular, 16px, rgb(33, 33, 33));
          line-height: 1.625;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
  }
  
  .logo  {
    margin: 7px 0 34px 0;
    
    a {
      color: rgb(0, 0, 0);
    }
  }
  
  .contact-info {
    
    ul {
      padding-left: 0;
      
      li {
        list-style-type: none;
        .main-font(Regular, 16px, rgb(33, 33, 33));
        text-transform: none;
        
        a {
          .main-font(Regular, 16px, rgb(33, 33, 33));
          text-transform: none;
          text-decoration: none;
        }
      }
    }
  }
  
  .socials {
    font-size: 24px;
    color: rgba(0, 0, 0, .6);
  }
  
  .subscription__form {
    margin-bottom: 128px;
  }
  
  .copyright {
    .main-font(Regular, 16px, rgb(33, 33, 33));
    text-transform: none;
    
    p {
      margin: 0;
    }
  }
  
  .button-nav {
    margin: 0;
    align-self: center;
    color: rgba(33, 33, 33, .6);
  }
}