@container-width: 1366px;
@header-height: 630px;
@logo-width: 147px;
@header-font-color: rgb(222, 222, 222);
@bgc-button: rgb(73, 51, 242);
@button-shadow-color: rgba(73, 51, 242, 0.22);
@border-color: rgb(73, 51, 242);
@logo-size: 21px;
@menu-size: 16px;
@header-border: 2px solid @border-color;
@slider-msg-pos-top: 150px;
@slider-msg-pos-right: 100px;
@slider-msg-width: 477px;
@slider-btn-pos-top: 300px;
@slider-btn-pos-right: 100px;
@slider-btn-font-color: rgb(255, 255, 255);
