@container-width: 1366px;
@header-height: 630px;
@logo-width: 147px;
@content-width: @container-width - 200px;
@sec-title2-width: @content-width/2 - 20px;
@sec-text-width: @content-width/2 - 20px;
@feat-big-width: 580px;
@feat-big-height: 431px;
@feat-small-width: 580px;
@feat-small-height: 338px;
@feat-block-margin: @content-width - @feat-big-width - @feat-small-width;
@popul-prod-width: 255px;
@popul-prod-height: 211px;
@blog-post-width: 480px;
@blog-post-height: 512px;
@bgc-content: rgb(255, 255, 255);
@header-font-color: rgb(222, 222, 222);
@heading-main-font-color: rgb(0, 0, 0);
@heading-other-font-color: rgb(45, 45, 45);
@text-font-color: rgb(33, 33, 33);
@button-font-color: @bgc-content;
@bgc-button: rgb(73, 51, 242);
@button-shadow-color: rgba(73, 51, 242, .22);
@bgc-featured: rgb(242, 242, 242);
@bgc-featured-button: @bgc-content;
@featured-button-font-color: rgb(0, 0, 0);
@featured-button-shadow-color: rgba(0, 0, 0, .22);
@bgc-popul-prod: @bgc-content;
@popul-prod-price-font-color: rgba(33, 33, 33, .8);
@popul-prod-likebuy-color: rgba(0, 0, 0, .6);
@popul-prod-shadow-color: rgba(0, 0, 0, .1);
@blog-post1-font-color: rgb(255, 255, 255);
@bgc-blog-post1: rgb(242, 242, 242);
@bgc-blog-post1-text: rgba(33, 33, 33, .25);
@blog-post1-button-shadow-color: rgba(242, 242, 242, .22);
@bgc-main-footer: rgb(242, 242, 242);
@main-footer-font-color: @text-font-color;
@main-footer-socials-color: rgb(69, 69, 69);
@form-mail-field-border: 1px solid rgb(0, 0, 0);
@bgc-form-button: @bgc-button;
@form-placeholder-text-color: rgba(33, 33, 33, .6);
@border-color: rgb(73, 51, 242);
@blog-post-border-radius: 7px;
@form-elements-border-radius: 3px;
@logo-size: 21px;
@menu-size: 16px;
@header-border: 2px solid @border-color;
@slider-msg-pos-top: 150px;
@slider-msg-pos-right: 100px;
@slider-msg-width: 477px;
@slider-btn-pos-top: 300px;
@slider-btn-pos-right: 100px;
@slider-btn-font-color: rgb(255, 255, 255);