@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Butler-Regular";
  src: url("../fonts/Butler_Regular.otf");
}
@font-face {
  font-family: "Butler-Bold";
  font-weight: bold;
  src: url("../fonts/Butler_Bold.otf");
}
body {
  margin: 0;
}
.container {
  width: 1366px;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  padding: 5px 7px;
  font: 21px "Montserrat", sans-serif;
  text-decoration: none;
  color: #dedede;
  border: 2px solid #4933f2;
}
.button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.main-header__top {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1166px;
  padding: 40px 100px 0;
}
.main-header__slider {
  position: relative;
  z-index: 1;
  top: 0px;
  width: 1366px;
  height: 630px;
  text-align: center;
  background: #000000 url(../pictures/slider1-min.jpg) no-repeat center 0 / cover;
}
.main-header__bottom {
  position: absolute;
  z-index: 2;
  top: 577px;
  width: 1366px;
}
.top-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25px 100px 0 0;
}
.top-menu__account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  margin-left: 19px;
  padding: 4px 8px;
  border: 1px solid #dedede;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.top-menu__account i:first-child {
  font-size: 11px;
  color: #dedede;
}
.top-menu__account i:last-child {
  font-size: 11px;
  color: #dedede;
}
.top-menu__basket,
.top-menu__search {
  margin-left: 15px;
  font-size: 15px;
  color: #dedede;
}
.header-nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2px 0 0 0;
  padding-left: 0;
}
.header-nav-list__item {
  padding-left: 29px;
  list-style-type: none;
}
.item-link {
  font: 16px "Butler-Regular", serif;
  color: #dedede;
  text-transform: uppercase;
  text-decoration: none;
}
.item-link:hover .header-nav-items_hover:first-child {
  border-top: 2px solid #4933f2;
}
.item-link:hover .header-nav-items_hover:last-child {
  border-bottom: 2px solid #4933f2;
}
.slider__msg {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 477px;
  margin: 0;
  font-family: "Butler-Bold", serif;
  font-size: 50px;
  color: #dedede;
  text-transform: uppercase;
  text-align: right;
}
.slider__button {
  position: absolute;
  top: 300px;
  right: 100px;
  z-index: 2;
  padding: 20px 30px;
  font: 16px "Butler-Bold", serif;
  color: #dedede;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #543ff3;
  border: 2px solid #4933f2;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.slider__button:hover {
  -ms-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -moz-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -o-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -webkit-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
}
.slider__button:active {
  color: #4933f2;
  background: none;
  border-color: #dedede;
  -ms-box-shadow: 0px 10px 34px 6px #383838;
  -moz-box-shadow: 0px 10px 34px 6px #383838;
  -o-box-shadow: 0px 10px 34px 6px #383838;
  -webkit-box-shadow: 0px 10px 34px 6px #383838;
  box-shadow: 0px 10px 34px 6px #383838;
}
.scroll-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  margin: 0 auto;
  color: #dedede;
}
.scroll-bottom__clef {
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1;
}
.scroll-bottom i {
  font-size: 16px;
}
.content {
  width: 1166px;
  margin: 0 auto;
}
.sec-pic {
  float: right;
}
.sec-title {
  width: 100%;
  clear: both;
  margin: 121px 0 60px;
  font: 46px "Butler-Bold", serif;
  color: #000000;
  text-transform: capitalize;
  text-align: center;
}
.sec-title2 {
  width: 563px;
  font: 40px "Butler-Bold", serif;
  color: #2d2d2d;
  text-transform: uppercase;
  text-align: left;
}
.sec-title3 {
  font: 29px "Butler-Bold", serif;
  color: #2d2d2d;
  text-transform: capitalize;
}
.sec-title4 {
  font: 22px "Butler-Bold", serif;
  color: #2d2d2d;
  text-transform: none;
}
.sec-text {
  width: 563px;
  font: 16px "Butler-Regular", serif;
  color: #212121;
  text-transform: none;
}
.sec-button_margin {
  margin: 11px 0 75px;
}
.button-content {
  display: inline-block;
  padding: 20px 35px;
  font: 16px "Butler-Bold", serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #543ff3;
  border: 2px solid #4933f2;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.button-content:hover {
  border-color: #7463f5;
  -ms-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -moz-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -o-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -webkit-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
}
.button-content:active {
  color: #4933f2;
  background: none;
  border-color: #e0e0e0;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#featured {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  clear: right;
}
.feat-title_display {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.feat-button_display {
  display: none;
  color: #000000;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
.feat-button_display:hover {
  border-color: #b3b3b3;
  -ms-box-shadow: 0px 10px 34px 6px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 10px 34px 6px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0px 10px 34px 6px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 10px 34px 6px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 10px 34px 6px rgba(0, 0, 0, 0.22);
}
.feat-button_display:active {
  color: #bfbfbf;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.feat-collection_big {
  width: 580px;
  height: 431px;
  margin-bottom: 6px;
  background-color: #f2f2f2;
}
.feat-collection_big:nth-child(2) {
  background: #f2f2f2 url(../pictures/feat_collection_acoustic-min.png) no-repeat center 0 / cover;
}
.feat-collection_big:nth-child(5) {
  margin-top: -93px;
  margin-bottom: 0;
  background: #f2f2f2 url(../pictures/feat_collection_digital-min.png) no-repeat center -50px / cover;
}
.feat-collection_big:hover {
  justify-content: flex-start;
  align-items: flex-start;
  width: 518px;
  height: 249px;
  padding: 162px 0 20px 62px;
}
.feat-collection_big:hover .feat-title_display {
  display: block;
  padding: 0;
  background: none;
}
.feat-collection_big:hover .feat-button_display {
  display: inline-block;
}
.feat-collection_big:hover:nth-child(2) {
  background-position: 290px 25px;
}
.feat-collection_big:hover:nth-child(5) {
  background-position: 290px -25px;
}
.feat-collection_small {
  width: 580px;
  height: 338px;
  margin-bottom: 6px;
  background-color: #f2f2f2;
}
.feat-collection_small:nth-child(3) {
  background: #f2f2f2 url(../pictures/feat_collection_synthesizer.png) no-repeat center 0 / contain;
}
.feat-collection_small:nth-child(4) {
  margin-bottom: 0;
  background: #f2f2f2 url(../pictures/feat_collection_midi-keyboard-min.png) no-repeat center 100px / contain;
}
.feat-collection_small:hover {
  justify-content: flex-start;
  align-items: flex-start;
  width: 518px;
  height: 207px;
  padding: 111px 0 20px 62px;
}
.feat-collection_small:hover .feat-title_display {
  display: block;
  padding: 0;
  background: none;
}
.feat-collection_small:hover .feat-button_display {
  display: inline-block;
}
.feat-collection_small:hover:nth-child(3) {
  background-position: 290px 25px;
}
.feat-collection_small:hover:nth-child(4) {
  background-position: 290px 125px;
}
#popular {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.popul-prod {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 255px;
  height: 211px;
  padding: 96px 0 0 30px;
  background-color: orange;
}
.popul-prod .sec-title4 {
  width: 127.5px;
}
.popul-prod-content_display {
  display: none;
}
.popul-prod__price {
  width: 127.5px;
  margin-right: 127.5px;
  font: 22px "Butler-Regular", serif;
  color: rgba(33, 33, 33, 0.8);
}
.popul-prod__like,
.popul-prod__buy {
  padding: 8px 20px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
}
.popul-prod__like:hover,
.popul-prod__buy:hover {
  background-color: #f9f9f9;
}
.popul-prod__like:active,
.popul-prod__buy:active {
  background-color: rgba(0, 0, 0, 0.6);
}
.popul-prod__like {
  -ms-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.popul-prod__buy {
  -ms-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.popul-prod-button_position {
  margin: 41px auto 0;
}
.popul-prod:nth-child(2) {
  background: #ffffff url(../pictures/popular-product1-min.png) no-repeat center 40px / contain;
}
.popul-prod:nth-child(3) {
  background: #ffffff url(../pictures/popular-product2-min.png) no-repeat center 0 / contain;
}
.popul-prod:nth-child(4) {
  background: #ffffff url(../pictures/popular-product3-min.png) no-repeat center 0 / contain;
}
.popul-prod:nth-child(5) {
  background: #ffffff url(../pictures/popular-product4-min.png) no-repeat center 35px / contain;
}
.popul-prod:hover {
  -ms-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.popul-prod:hover .popul-prod-content_display {
  display: inline-block;
}
.popul-prod:hover:nth-child(2) {
  background-position: 175px 65px;
}
.popul-prod:hover:nth-child(3) {
  background-position: 175px 25px;
}
.popul-prod:hover:nth-child(4) {
  background-position: 175px 25px;
}
.popul-prod:hover:nth-child(5) {
  background-position: 175px 60px;
}
#video {
  width: 100%;
  height: 423px;
  background-color: gray;
  margin-top: 124px;
}
#blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  clear: right;
}
.blog-post {
  width: 480px;
  min-height: 512px;
  padding: 0 50px 0 30px;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
.blog-post:nth-child(2) {
  background: #f2f2f2 url(../pictures/blog-post1-min.jpg) no-repeat center 0 / cover;
}
.blog-post:nth-child(3) {
  background: #f2f2f2 url(../pictures/your_story.jpg) no-repeat center 0 / cover;
}
.blog-post_text-width {
  width: 460px;
}
.blog-post_font-style {
  padding: 10px;
  color: #ffffff;
  background-color: rgba(33, 33, 33, 0.25);
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.blog-post-header__type {
  display: inline-block;
  margin-top: 40px;
  font: 16px "Butler-Regular", serif;
  color: #ffffff;
}
.blog-post-footer {
  margin: 15px 0;
}
.blog-post-footer__time,
.blog-post-footer__comments {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font: 16px/1 "Butler-Regular", serif;
  color: #ffffff;
  text-transform: lowercase;
  margin: 0 17px 15px;
}
.blog-post-footer__time i,
.blog-post-footer__comments i {
  font-size: 20px;
}
.blog-post-footer__button {
  border: 1px solid #ffffff;
  background: none;
}
.blog-post-footer__button:hover {
  border-color: #999999;
  -ms-box-shadow: 0px 10px 34px 6px rgba(242, 242, 242, 0.22);
  -moz-box-shadow: 0px 10px 34px 6px rgba(242, 242, 242, 0.22);
  -o-box-shadow: 0px 10px 34px 6px rgba(242, 242, 242, 0.22);
  -webkit-box-shadow: 0px 10px 34px 6px rgba(242, 242, 242, 0.22);
  box-shadow: 0px 10px 34px 6px rgba(242, 242, 242, 0.22);
}
.blog-post-footer__button:active {
  color: #4d4d4d;
  background-color: rgba(242, 242, 242, 0.75);
}
.blog-button_position {
  margin: 41px auto 0;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1051px;
  margin-top: 121px;
  padding: 47px 60px 0 255px;
  background-color: #f2f2f2;
}
.main-footer-title_style {
  margin-top: 0;
  text-transform: capitalize;
}
.main-footer__contacts,
.main-footer__subscription {
  width: 300px;
  margin-top: 73px;
  margin-bottom: 50px;
}
.main-footer__menu {
  width: 200px;
}
.main-footer__menu-logo {
  margin-bottom: 34px;
  color: #212121;
}
.main-footer__menu-nav-list {
  padding-left: 0;
}
.main-footer__menu-nav-list-item {
  list-style-type: none;
}
.main-footer__menu-nav-list-item-link {
  font: 16px/2 "Butler-Regular", serif;
  color: #212121;
  text-transform: capitalize;
  text-decoration: none;
}
.main-footer__contacts-info-list {
  padding-left: 0;
  margin-bottom: 44px;
}
.main-footer__contacts-info-list-item {
  list-style-type: none;
  font: 16px "Butler-Regular", serif;
  color: #212121;
}
.main-footer__contacts-info-list-item-email-link {
  text-decoration: none;
  color: #212121;
}
.main-footer__contacts-social-link {
  text-decoration: none;
  font-size: 25px;
  color: #454545;
}
.main-footer__contacts-social-link:nth-child(2):hover {
  color: #3b5997;
}
.main-footer__contacts-social-link:nth-child(3):hover {
  color: #3fccfd;
}
.main-footer__contacts-social-link:nth-child(4):hover {
  color: #cb201d;
}
.main-footer__contacts-social-link:nth-child(5):hover {
  color: #cb201d;
}
.main-footer__subscription-form {
  margin-bottom: 155px;
}
.main-footer__copyright {
  font: 16px "Butler-Regular", serif;
  color: #212121;
}
.main-footer__copyright-text {
  margin: 0;
}
.main-footer__scroll-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 204px;
  color: #212121;
}
.main-footer__scroll-top-clef {
  font-size: 32px;
  line-height: 1;
}
.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form-mail-field {
  width: 203px;
  height: 13px;
  padding: 13px 0 12px 10px;
  font: 16px/1.625 "Butler-Regular", serif;
  color: rgba(33, 33, 33, 0.6);
  border: 1px solid #000000;
  border-right: 0;
  -ms-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  outline: none;
}
.form-mail-field:focus {
  color: #212121;
}
.form-button {
  width: 39px;
  height: 40px;
  background: #4933f2 url(../pictures/send.png) no-repeat center;
  -ms-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.form-button:hover {
  background-color: #341bf0;
}
.form-button:active {
  background-color: #1f0bb4;
}
