@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: "Raleway-BoldItalic";
    src: url("../fonts/Raleway-BoldItalic.ttf");
}
@font-face {
    font-family: "Raleway-Italic";
    src: url("../fonts/Raleway-Italic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("../fonts/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: "Roboto-Italic";
    src: url("../fonts/Roboto-Italic.ttf");
}
* {
    margin: 0;
}
.container {
    width: 1500px;
    background-color: rgb(248, 248, 248);
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgb(171, 234, 250);
}
.header-upper {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.logo {
    margin: 24px 0 108px 173px;
    width: 300px;
    height: 172px;
}
.social {
    height: 20px;
    margin: 50px 229px 100px 0;
    background-color: rgb(171, 234, 250);
    padding: 5px 5px 0 5px;
}
.social a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    margin: 0 0 0 5px;
}
.social a:hover {
    color: rgb(255, 245, 31);
}
.header-lower {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.welcome-msg {
    width: 270px;
    margin: 93px 0 64px 165px;
    background-color: rgb(255, 245, 31);
}
.welcome-msg h1 {
    font-size: 30px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin: 82px 30px 0 25px;
}
.welcome-msg p {
    font-size: 18px;
    font-family: "Raleway-BoldItalic", sans-serif;
    font-style: italic;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 0.878;
    text-align: justify;
    margin: 20px 30px 82px 22px;
}
.slide {
    width: 314px;
    margin: 0 254px 0 0;
}
.slide h1 {
    font-size: 48px;
    font-family: "Raleway-Bold", sans-serif;
    color: rgb(255, 245, 31);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.808;
    text-align: left;
    height: 85px;
}
.slide p {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(255, 245, 31);
    text-align: left;
}
.slide-btn {
    display: inline-block;
    margin: 62px 0 0 0;
    padding: 20px 30px 19px 28px;
    background-color: rgb(255, 245, 31);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Raleway-Bold", sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    line-height: 1.2;
}
.slide-btn:hover {
    color: rgb(255, 245, 31);
    background-color: rgb(0, 0, 0);
}
.slide-btn:active {
    color: rgb(171, 234, 250);
}
.sidebar {
    width: 270px;
    margin: -20px 35px 0 165px;
    float: left;
}
.sidebar__menu {
    width: 100%;
    margin-bottom: 30px;
    background-color: rgb(38, 210, 252);
}
.sidebar__menu ul {
    padding-left: 0;
}
.sidebar__menu ul li {
    list-style-type: none;
}
.sidebar__menu ul li:first-child {
    background-color: rgb(51, 51, 51);
    font-size: 14px;
    font-family: "Roboto-Bold", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.286;
    text-align: left;
    padding: 32px 0 24px 42px;
    margin-bottom: 9px;
}
.sidebar__menu ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-family: "Roboto-Bold", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.286;
    text-align: left;
    padding: 9px 0 9px 42px;
}
.sidebar__menu ul li a:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
}
.banner {
    width: auto;
    padding: 129px 19px 73px 142px;
    background-color: rgb(224, 224, 224);
}
.banner p {
    width: 100px;
    font-size: 36px;
    font-family: "Raleway-Bold", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    word-wrap: break-word;
    line-height: 1;
    text-align: left;
}
.main {
    margin: -20px 165px 84px 465px;
    padding-top: 31px;
    background-color: rgb(248, 248, 248);
}
.kroshki {
    margin: 38px 0 98px 15px;
}
.kroshki p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(152, 152, 152);
    line-height: 1.2;
}
.kroshki p a {
    text-decoration: none;
    color: rgb(152, 152, 152);
    padding: 2px;
}
.kroshki p a:last-child {
    background-color: rgb(250, 239, 3);
}
.product-catalog {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}
.product-catalog h1 {
    font-size: 22px;
    font-family: "Roboto-BoldItalic", sans-serif;
    color: rgb(112, 112, 112);
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 31px;
    width: 100%;
}
.product-catalog__product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 250px;
    height: 300px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(38, 210, 252, 0.7);
    -moz-box-shadow: 2px 2px 10px 0px rgba(38, 210, 252, 0.7);
    box-shadow: 2px 2px 10px 0px rgba(38, 210, 252, 0.7);
}
.product-catalog__product:hover {
    -webkit-box-shadow: 5px 5px 10px 0px rgba(250, 239, 3, 0.9);
    -moz-box-shadow: 5px 5px 10px 0px rgba(250, 239, 3, 0.9);
    box-shadow: 5px 5px 10px 0px rgba(250, 239, 3, 0.9);
}
.product-catalog__product image {
    background-color: rgb(234, 234, 234);
}
.product-catalog__product span {
    display: inline-block;
    font-size: 18px;
    font-family: "Roboto-BoldItalic", sans-serif;
    color: rgb(51, 51, 51);
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    margin: 24px 14px 0 0;
}
.product-catalog__product span:nth-child(2) {
    display: inline-block;
    width: 130px;
    font-size: 14px;
    font-family: "Roboto-BoldItalic", sans-serif;
    color: rgb(51, 51, 51);
    font-style: italic;
    font-weight: bold;
    line-height: 1.286;
    word-wrap: break-word;
    text-decoration: none;
    margin: 24px 0 0 29px;
}
.footer {
    width: 100%;
}
.big-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
}
.big-social a {
    width: 33.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 62px;
    color: rgb(248, 248, 248);
    text-decoration: none;
}
.big-social a:hover {
    color: rgb(255, 245, 31);
}
.big-social a:first-child {
    background-color: rgb(59, 89, 151);
    padding: 44px 0;
}
.big-social a:first-child:active {
    background-color: rgb(255, 245, 31);
    color: rgb(59, 89, 151);
}
.big-social a:nth-child(2) {
    background-color: rgb(63, 204, 253);
    padding: 44px 0;
}
.big-social a:nth-child(2):active {
    background-color: rgb(255, 245, 31);
    color: rgb(63, 204, 253);
}
.big-social a:last-child {
    background-color: rgb(203, 32, 29);
    padding: 44px 0;
}
.big-social a:last-child:active {
    background-color: rgb(255, 245, 31);
    color: rgb(203, 32, 29);
}
.informative-board {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(55, 55, 55);
}
.category {
    width: 100px;
    margin: 75px 0 64px 0;
}
.category h1 {
    font-size: 18px;
    font-family: "Raleway-Bold", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}
.category ul {
    padding-left: 0;
}
.category ul li {
    list-style-type: none;
}
.category ul li a {
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
}
.about-us {
    width: 232px;
}
.about-us h1 {
    font-size: 18px;
    font-family: "Raleway-Bold", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}
.about-us p {
    font-size: 12px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: justify;
}
.about-us a {
    text-decoration: none;
    color: rgb(237, 227, 6);
}
.copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(51, 51, 51);
}
.copyright p {
    padding: 20px 0 16px 0;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(218, 217, 217);
    line-height: 1.8;
    text-align: left;
}
.copyright p span {
    font-size: 14px;
}
.small-social a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    margin-left: 8px;
}
.small-social a:hover {
    color: rgb(38, 210, 252);
}
.product-img {
    width: 390px;
    float: left;
    padding: 10px;
    margin: 0 42px 45px 0;
}
.product-img__big {
    margin-bottom: 24px;
}
.product-img__preview {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.product-description {
    margin-left: 419px;
}
.product-detailed {
    clear: left;
}
.product-description h1 {
    font-size: 24px;
    font-family: "Roboto-Bold", sans-serif;
    color: rgb(53, 53, 53);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 40px;
}
.product-description span {
    font-size: 21px;
    font-family: "Roboto-BoldItalic", sans-serif;
    color: rgb(17, 17, 17);
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}
.product-description h2 {
    font-size: 12px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    line-height: 1.667;
    text-align: left;
}
.product-description hr {
    margin: 27px auto;
    background-color: rgb(51, 51, 51);
    opacity: 0.102;
    width: 300px;
    height: 1px;
}
.product-description p {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(112, 112, 112);
    line-height: 1.333;
    text-align: left;
}
.product-description a {
    display: inline-block;
    padding: 18px 15px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(248, 248, 248);
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgb(251, 77, 1);
    margin: 0 131px;
}
.product-description a:hover {
    color: rgb(53, 53, 53);
}
.product-description a:active {
    background-color: rgb(53, 53, 53);
    color: rgb(251, 77, 1);
}
.product-detailed h2 {
    display: inline-block;
    padding: 14px 16px;
    margin-left: 20px;
    background-color: rgb(38, 210, 252);
    font-size: 11px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-top: 20px;
}
.product-detailed__detail {
    border: 1px solid rgb(218, 216, 216);
    padding: 13px;
}
.product-detailed__detail ul {
    padding-left: 13px;
}
.product-detailed__detail ul li {
    font-size: 11px;
    font-family: "Verdana", sans-serif;
    color: rgb(128, 128, 128);
    line-height: 1.364;
    text-align: left;
}
.product-detailed__detail p {
    margin: 10px 0;
    font-size: 11px;
    font-family: "Verdana", sans-serif;
    color: rgb(128, 128, 128);
    line-height: 1.364;
    text-align: left;
}
.product-detailed__detail h3 {
    font-size: 11px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    color: rgb(128, 128, 128);
    line-height: 1.364;
    text-align: left;
}
th,
td {
    font-size: 11px;
    font-family: "Verdana", sans-serif;
    color: rgb(128, 128, 128);
    line-height: 1.364;
    text-align: left;
    padding: 5px;
}
th {
    font-weight: bold;
    text-align: right;
}
table,
td,
th {
    border: 1px solid rgb(128, 128, 128);
    border-collapse: collapse;
}
table {
    margin: 0 auto;
}
.product-catalog h1 {
    font-size: 30px;
    font-family: "Raleway-Bold", sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 100px 0 34px 0;
}
#map {
    position: absolute;
    top: 0;
    width: 1500px;
    height: 285px;
    opacity: 0.9;
    z-index: 1;
}
.header_contacts {
    position: relative;
    height: 304px;
    left: 0;
    top: 0;
    z-index: 0;
}
.logo_contacts {
    position: absolute;
    left: 173px;
    top: 24px;
    z-index: 2;
    margin: 0;
    /*    margin-bottom: 108px;*/
}
.social_contacts {
    position: absolute;
    right: 229px;
    top: 50px;
    z-index: 2;
    margin: 0;
    /*    margin-bottom: 200px;*/
}
.contact {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact__form {
    width: 350px;
    margin-right: 50px;
}
.form_option {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.form_option label {
    margin: 34px 0 10px 0;
    font-size: 12px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
}
.form_option:first-child label {
    margin: 0 0 10px 0;
}
.form_option input {
    padding: 9px 0 9px 18px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(170, 170, 170);
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;
}
.form_option:nth-child(2) input {
    text-transform: none;
}
.form_option input:focus {
    color: rgb(51, 51, 51);
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    outline: none;
}
.form_option textarea {
    outline: none;
    padding: 9px 0 9px 18px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(170, 170, 170);
    line-height: 1.2;
    text-align: left;
}
.form_option textarea:focus {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.form_send {
    margin-top: 20px;
    width: 100%;
    text-align: right;
}
.form_send input {
    width: 75px;
    height: 25px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    outline: none;
}
.reset-btn:hover {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.submit-btn:hover {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.reset-btn:active {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(248, 248, 248);
    background-color: rgb(51, 51, 51);
}
.submit-btn:active {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(248, 248, 248);
    background-color: rgb(51, 51, 51);
}
.contact__info h2 {
    font-size: 18px;
    font-family: "Roboto-Bold", sans-serif;
    font-weight: bold;
    color: rgb(53, 53, 53);
    line-height: 0.778;
    text-align: left;
}
.contact__info ul {
    padding-left: 0;
}
.contact__info li {
    margin: 10px 0;
    list-style-type: none;
}
.contact__info li:first-child {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(119, 119, 119);
    line-height: 1.167;
    text-align: left;
}
.contact__info li:nth-child(2) {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(53, 53, 53);
    line-height: 0.778;
    text-align: left;
}
.contact__info li:last-child {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
    text-decoration: none;
    line-height: 1.3;
    text-align: left;
}
.contact__info li a {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.3;
    text-align: left;
}