@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Butler-Regular";
  src: url("../fonts/Butler_Regular.otf");
}
@font-face {
  font-family: "Butler-Bold";
  font-weight: bold;
  src: url("../fonts/Butler_Bold.otf");
}
body {
  margin: 0;
}
.container {
  width: 1366px;
  margin: 0 auto;
}
.header__top {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__slider {
  position: relative;
  z-index: 1;
  top: 0px;
  width: 1366px;
  height: 630px;
  text-align: center;
  background-image: url(../pictures/slider1.jpg);
  background-position: center;
  background-size: cover;
}
.header__slider p {
  position: absolute;
  right: 100px;
  top: 150px;
  width: 477px;
  margin: 0;
  font-family: "Butler-Bold", serif;
  font-size: 50px;
  color: #dedede;
  text-transform: uppercase;
  text-align: right;
}
.header__slider a {
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 300px;
  color: #ffffff;
  background-color: #543ff3;
  border: 2px solid #4933f2;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -ms-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -moz-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -o-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -webkit-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  font-family: "Butler-Bold", serif;
  font-size: 16px;
  color: #dedede;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 30px;
}
.header__bot {
  position: absolute;
  z-index: 2;
  top: 577px;
  width: 1366px;
}
.logo {
  display: inline-block;
  width: 168px;
  margin: 40px 291px 0 99px;
}
.logo a {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  color: #dedede;
  text-transform: lowercase;
  text-decoration: none;
  padding: 5px 7px;
  border: 2px solid #4933f2;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 100px 0 0;
}
.menu__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}
.menu__nav ul li {
  padding-left: 29px;
  list-style-type: none;
}
.menu__nav ul li a {
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #dedede;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__nav ul li a:hover span:first-child {
  border-top: 2px solid #4933f2;
}
.menu__nav ul li a:hover span:last-child {
  border-bottom: 2px solid #4933f2;
}
.menu__account {
  width: 21px;
  border: 1px solid #dedede;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  margin: 0 0 0 19px;
  padding: 0 7px;
}
.menu__account i:first-child {
  font-size: 11px;
  color: #dedede;
}
.menu__account i:last-child {
  font-size: 11px;
  color: #dedede;
}
.menu__basket {
  font-size: 15px;
  color: #dedede;
  margin: 0 0 0 15px;
}
.menu__search {
  font-size: 15px;
  color: #dedede;
  margin-left: 15px;
}
.button-nav {
  width: 35px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  color: #dedede;
}
.button-nav__clef {
  line-height: 1;
  margin-bottom: 5px;
  font-size: 32px;
}
.button-nav i {
  font-size: 16px;
}
.content {
  width: 1166px;
  margin: 0 auto;
}
.sec-title {
  width: 100%;
  font-family: "Butler-Bold", serif;
  font-size: 46px;
  color: #000000;
  text-transform: uppercase;
  text-transform: capitalize;
  text-align: center;
  clear: both;
  margin: 121px 0 60px;
}
.sec-title2 {
  width: 100%;
  font-family: "Butler-Bold", serif;
  font-size: 40px;
  color: #2d2d2d;
  text-transform: uppercase;
  text-align: left;
}
.sec-title3 {
  font-family: "Butler-Bold", serif;
  font-size: 29px;
  color: #212121;
  text-transform: uppercase;
  text-transform: capitalize;
}
.sec-title4 {
  font-family: "Butler-Bold", serif;
  font-size: 22px;
  color: #212121;
  text-transform: uppercase;
  text-transform: none;
}
.sec-text {
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #212121;
  text-transform: uppercase;
  text-transform: none;
}
.service__info {
  width: 100%;
}
.service__info img {
  float: right;
}
.button-content {
  display: inline-block;
  cursor: pointer;
  background-color: #543ff3;
  border: 2px solid #4933f2;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -ms-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -moz-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -o-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  -webkit-box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  box-shadow: 0px 10px 34px 6px rgba(73, 51, 242, 0.22);
  font-family: "Butler-Bold", serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 35px;
  margin: 11px 0 68px;
}
#featured {
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.featured_big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 431px;
  background-color: #f2f2f2;
  margin-bottom: 6px;
}
.featured_big:hover {
  justify-content: flex-start;
  align-items: flex-start;
}
.featured_big:hover .sec-title3 {
  margin: 162px 0 20px 62px;
}
.featured_big:hover .collection {
  display: block;
  margin-left: 62px;
}
.featured_big:last-child {
  margin-top: -93px;
}
.featured_small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 338px;
  background-color: #f2f2f2;
  margin-bottom: 6px;
}
.featured_small:hover {
  justify-content: flex-start;
  align-items: flex-start;
}
.featured_small:hover .sec-title3 {
  margin: 111px 0 20px 62px;
}
.featured_small:hover .collection {
  display: block;
  margin-left: 62px;
}
.collection {
  background-color: #ffffff;
  color: #000000;
  border-color: #ffffff;
  padding: 20px 30px;
  display: none;
}
#popular {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.popular__product {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 255px;
  height: 211px;
  padding: 96px 0 0 30px;
  background-color: orange;
}
.popular__product .sec-title4 {
  display: none;
}
.popular__product:hover {
  -ms-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.popular__product:hover .sec-title4,
.popular__product:hover .product__price,
.popular__product:hover .like,
.popular__product:hover .shop {
  display: inline-block;
}
.product__price {
  display: none;
  width: 100%;
  font-family: "Butler-Regular", serif;
  font-size: 22px;
  color: rgba(33, 33, 33, 0.8);
  text-transform: uppercase;
}
.like,
.shop {
  display: none;
  padding: 8px 20px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
}
.like {
  -ms-border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.shop {
  -ms-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.button_center {
  margin: 41px auto 0;
}
#video {
  width: 100%;
  height: 423px;
  background-color: gray;
  margin-top: 124px;
}
.about__info img {
  float: right;
}
.about__info button {
  margin-bottom: 122px;
}
#blog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}
.blog__post {
  width: 480px;
  height: 512px;
  padding: 0 60px 0 40px;
  background-color: orange;
}
.post-type {
  display: inline-block;
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-transform: none;
  margin-top: 40px;
}
.post__footer {
  margin-top: 25px;
}
.time,
.comments {
  display: inline-block;
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  text-transform: lowercase;
  margin: 0 27px 25px;
}
.button_post {
  display: block;
  border: 1px solid #ffffff;
  background: none;
}
.footer {
  height: 288px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 121px;
  padding: 47px 60px 0 254px;
  background-color: #f2f2f2;
}
.footer .sec-title4 {
  text-transform: capitalize;
  margin-top: 0;
}
.footer .nav ul {
  padding-left: 0;
}
.footer .nav ul li {
  list-style-type: none;
}
.footer .nav ul li a {
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #212121;
  text-transform: uppercase;
  line-height: 1.625;
  text-transform: capitalize;
  text-decoration: none;
}
.footer .logo {
  display: block;
  margin: 7px 0 34px 0;
}
.footer .logo a {
  color: #000000;
}
.footer .contact-info {
  width: 300px;
}
.footer .contact-info ul {
  padding-left: 0;
}
.footer .contact-info ul li {
  list-style-type: none;
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #212121;
  text-transform: uppercase;
  text-transform: none;
}
.footer .contact-info ul li a {
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #212121;
  text-transform: uppercase;
  text-transform: none;
  text-decoration: none;
}
.footer .socials {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
}
.footer .subscription {
  margin-top: 60px;
}
.footer .subscription .subscription__form {
  margin-bottom: 69px;
}
.footer .copyright {
  font-family: "Butler-Regular", serif;
  font-size: 16px;
  color: #212121;
  text-transform: uppercase;
  text-transform: none;
}
.footer .button-nav {
  margin-bottom: 100px;
  color: rgba(33, 33, 33, 0.6);
}
